/*
 * Breakpoint
 */
$mobileFirst: false;

/*
 * Desktop first
 */
$xs: max-width 480px;
$s: max-width 768px;
$m: max-width 1024px;
$l: min-width 1025px;
$xl: min-width 1480px;

/*
 * Mobile first
 */
@if($mobileFirst == true) {
  $s: min-width 481px;
  $m: min-width 769px;
  $l: min-width 1025px;
  $xl: min-width 1480px;
}
