/**
 * Default button styles. Compose this to create a new button.
 */
.button {
  outline: none;
  display: inline-block;
  background-color: transparent;
  border: none;
}

/**
 * Primary button
 */
.primary {
  composes: button;
  font-size: 1.5rem;
  background: $black;
}
